requests
requests-toolbelt
lxml
cryptography
redis
rq
google-api-python-client
python-dateutil
pandas
zdesk
hurry.filesize
pdfkit
wkhtmltopdf
# mimetypes
python-magic
# python-magic-bin
python-jose
beautifulsoup4